body {
    background-color: #342824;
    -ms-overflow-style: scrollbar;
    -webkit-app-region: drag;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
    -webkit-app-region: no-drag;
}

.btn {
	background-color: #00A7EF;
	color: #000;
	border-radius: 5px;
	top: 5px;
	font-size: 18px;
	width: 180px;
	height: 70px;
	border: none;
    left: 20px;
	right: 20px;
}


.btn:hover {
	background-color: #007FB6;
	color: #000;
	border-radius: 5px;
	top: 5px;
	font-size: 18px;
	width: 180px;
	height: 70px;
	border: none;
    left: 20px;
	right: 20px;
}

.buttons {
	margin-top: 120px;
}
