@import url("https://tympanus.net/Development/CreativeButtons/css/component.css");
#foot p {
    font-size: 18px;
    color: #fff;
    font-family: 'icomoon' !important;
    margin-top: 135px !important;
    float: : left !important;
    width: 300px !important;
    position: absolute !important;
    margin-left: 12px !important;
}
#foot a {
    color: inherit;
    text-decoration: none;
}
#foot a:hover {
    font-weight: bold;
    text-decoration: none;
}
#bodie {
    width: 800px;
    height: 620px;
    background-color: #342824;
    background: url('background.png');
    background-size: cover;
    overflow: hidden !important;
    filter: blur(13px);
    position: absolute;
}
body,
html {
    overflow: hidden;
}
.btn {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 65px;
    font-family: 'icomoon' !important;
}
.buttons {
    margin-top: 60px;
}